# Unit 2.3 Hakcs
> Libraries
- toc: true
- comments: true
- categories: [csp, jupyter]
- permalink: /csp/2.3HACks
- tags: [python]
- comments: true

In [18]:
import seaborn as sns

# Load the titanic dataset
tips_data = sns.load_dataset('tips')




tips_data.head(15)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2

### Anaylzing the data set
- This data set analyzes the amount of tip and includes different variables such as the gender, smoker, day and time, and it also includes the size
- The tip varies with total bill however the other factors may have an impact

In [13]:
df = tips_data

df['sex'] = df['sex'].apply(lambda x: 1 if x == 'Male' else 0)
# 0 is female and 1 is male
df['sex'] = df['sex'].apply(lambda x: 1 if x == 'Male' else 0)
df.head()

   total_bill   tip sex smoker  day    time  size
0       16.99  1.01   0     No  Sun  Dinner     2
1       10.34  1.66   1     No  Sun  Dinner     3
2       21.01  3.50   1     No  Sun  Dinner     3
3       23.68  3.31   1     No  Sun  Dinner     2
4       24.59  3.61   0     No  Sun  Dinner     4

In [22]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(df[['day']])
onehot = enc.transform(df[['day']]).toarray()
cols = ['day_' + val for val in enc.categories_[0]]
df[cols] = pd.DataFrame(onehot)
df.drop(['day'], axis=1, inplace=True)
df.dropna(inplace=True)

In [23]:
df.head()

,total_bill,tip,sex,smoker,time,size,day_Fri,day_Sat,day_Sun,day_Thur
0,16.99,1.01,0,No,Dinner,2,0.0,0.0,1.0,0.0
1,10.34,1.66,1,No,Dinner,3,0.0,0.0,1.0,0.0
2,21.01,3.50,1,No,Dinner,3,0.0,0.0,1.0,0.0
3,23.68,3.31,1,No,Dinner,2,0.0,0.0,1.0,0.0
4,24.59,3.61,0,No,Dinner,4,0.0,0.0,1.0,0.0